{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'MainPage/style.css' %}">
        <script src="{% static 'MainPage/script.js' %}"></script>
    </head>
    <body class="bg-light">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn">&times;</a>
            <a href="#">Apply For The Team</a>
            <a href="#">Login</a>
        </div>   
        <div class="container-fluid">
            <div class="row d-flex align-items-center bg-info">
                <div class="col align-self-start">
                    <img src="{% static 'MainPage/EVHS_Logo.png' %}" class="Logo">
                </div>
                <div class="col align-self-end justify-content-end">
                    <button class="Menu btn btn-info float-right"><img src="{% static 'MainPage/Menu.png' %}" class="Logo"></button>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0">
            <div class="row mx-0 bg-info d-flex justify-content-center" id="box-search">
                <div class="col-sm-12 col-md-10 px-0">
                    <div class="thumbnail text-center">
                        <img src="{% static 'MainPage/Slideshow/Image1.jpg'%}" alt="" class="img-responsive w-75">
                        <div class="caption">
                            <h1 class="display-4 text-white">Eastview Science Olympiad</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0" style="background:#fff3cd;">
                <div class="col-1 px-0 align-self-start">
                    <img src="{% static 'MainPage/Alert.png'%}" class="Alert img-responsive w-100">
                </div>
                <div class="col-11 px-0 align-self-end align-items-center">
                    <div class="alert alert-warning d-flex">
                        <b>There's currently an alert present, please be cautious. Coronavirus has stopped the season and meetings have been adjourned</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-light d-flex justify-content-center px-0 mt-3">
            <h1 class="display title">Coaches and Team Captains</h1>
        </div>
        <div class="container-fluid px-0 mt-2 mb-4 bg-light">
            <div class="row mx-0 d-flex justify-content-center">
                <div class="col-4 align-self-center mt-5">
                    <div class="row d-flex justify-content-center">
                        <img src="{% static 'MainPage/Person.png' %}" class="img-responsive w-25">
                    </div>
                    <div class="row d-flex justify-content-center">
                        <hr class="divider w-50">
                    </div>
                    <div class="row d-flex justify-content-center">
                        <h1 class="display title">Username</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-light d-flex justify-content-center px-0 mt-5">
            <h1 class="display title">Meet The Team!</h1>
        </div>
        <div class="container-fluid bg-light d-flex justify-content-center px-0 mt-2">
            <div class="row">
                <div class="col">
                    <span style="white-space: nowrap;">Choose A Team to Browse:</span>
                </div>
                <div class="col">
                    <select>
                        <option>Item1</option>
                        <option>Item2</option>
                    </select>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js"></script>
    </body>
</html>