{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'MainPage/style.css' %}">
        <script src="{% static 'ProfilePage/script.js' %}"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body class="bg-light">
        <div class="container-fluid">
            <div class="row d-flex align-items-center bg-info">
                <div class="col align-self-start">
                    <img src="{% static 'MainPage/EVHS_Logo.png' %}" class="Logo">
                </div>
                <div class="col align-self-center align-items-center">
                    {% if messages %}
                        {% for message in messages%}
                        <div class="alert alert-{{ message.tags }}">{{message}}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col align-self-end d-flex justify-content-end">
                    <a class="btn btn-info" href="{% url 'MainPage' %}">Back?</a>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0">
            <div class="row mx-0 justify-content-center">
                <div class="col-6 px-0 text-center bg-dark rounded">
                    <h1 class="title display-4 text-white">Profile</h1>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <div class="row mx-0 justify-content-center align-items-center">
                                <img src="{{ ProfilePic }}" class="ImageHolder img-responsive w-25 m-2 bg-white rounded">
                                <input type="file" accept="image/x-png,image/jpeg" name="imageupload" class="UploadField text-white upload m-2">
                            </div>
                            <div class="row mt-3 mx-0 justify-content-center align-items-center">
                                <label class="TextfieldLabel text-white"></label>
                                <textarea name="textfield" class="Textfield w-100 mx-5 rounded d-inline" rows="5" maxlength="200">{{ ProfileText }}</textarea>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-success" type="submit">Request Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js"></script>
    </body>
</html>