{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'MainPage/style.css' %}">
        <script src="{% static 'Applications/Graduate.js' %}"></script>
        <script src="{% static 'MainPage/script.js' %}"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body class="bg-light">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn">&times;</a>
            <a href="#" class="Logout">Logout</a>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'MainPage' %}">Home</a>
            <hr>
            <a href="{% url 'Applications' %}">Applying Users</a>
            <a href="{% url 'ProfileRequests' %}">Profile Requests</a>
            <a href="{% url 'TeamManage' %}">Manage Teams</a>
        </div>   
        <div class="container-fluid px-0">
            <div class="row d-flex align-items-center bg-info mx-0">
                <div class="col align-self-start">
                    <img src="{% static 'MainPage/EVHS_Logo.png' %}" class="Logo">
                </div>
                <div class="col align-self-center">
                    {% if messages %}
                        {% for message in messages%}
                        <div class="alert alert-{{ message.tags }}">{{message}}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col align-self-end justify-content-end">
                    <button class="Menu btn btn-info float-right"><img src="{% static 'MainPage/Menu.png' %}" class="Logo"></button>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-light d-flex justify-content-center px-0 mt-3">
            <h1 class="display title">Setup Alert</h1>
        </div>
        <div class="container-fluid px-0 mb-4 bg-light">
            <div class="row mx-0 d-flex justify-content-center">
                <div class="col-6 align-self-center mt-3 mx-2 bg-dark rounded d-flex justify-content-center">
                    <form method="POST" class="container-fluid">
                        {% csrf_token %}
                        <fieldset class="form-group row mt-3 mx-0 justify-content-center align-items-center">
                            <div class="row mt-3 mx-0 justify-content-center align-items-center">
                                <label class="TextfieldLabel text-white title">Alert Content</label>
                                <textarea name="textfield" class="Textfield w-100 mx-5 rounded d-inline" rows="5">{{Alert.text}}</textarea>
                            </div>
                            <div class="row mt-3 mx-0 justify-content-center">
                                <div class="col-auto mx-0">
                                    {% if Alert.active %}
                                    <input class="form-check-input d-inline-block" type="checkbox" name="checkbox" id="checkbox" checked>
                                    {% else %}
                                    <input class="form-check-input d-inline-block" type="checkbox" name="checkbox" id="checkbox">
                                    {% endif %}
                                </div>
                                <div class="col-auto mx-0">
                                    <label class="form-check-label text-white" for="checkbox">Activate Alert?</label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <div class="row justify-content-center align-items-center">
                                <button class="btn btn-outline-success" type="submit">Update Alert</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js"></script>
    </body>
</html>