/* xs */
.dropdown-menu {display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;}
.dropdown-menu.show {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;}
.Logo{
    width: 50px;
    height: auto;
}
.caption h1, .title{
  font-size: medium;
  font-family: 'BioRhyme','serif';
}
.username{
  font-size: small;
  font-family: 'BioRhyme','serif';
}
.under {
  border-bottom: 3px dotted rgba(0,0,0,0.51);
  padding-bottom: 1%;
}
Text{
  font-size: medium;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#FFFF00;
  height: 1px;
}
hr.divider {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}
/* sm */
@media (min-width: 768px) {
    .Logo{
        width: 75px;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .caption h1, .title{
      font-size: x-large;
    }
    .username{
      font-size: medium;
      font-family: 'BioRhyme','serif';
    }
    p{
      font-size: large;
    }
    .under {
      border-bottom: 4px dotted rgba(0,0,0,0.51);
      padding-bottom: 1%;
    }
    Text{
      font-size: large;
    }
}
/* md */
@media (min-width: 992px) {
    .Logo{
        width: 75px;
    }
    .caption h1, .title{
      font-size: x-large;
    }
    .under {
      border-bottom: 5px dotted rgba(0,0,0,0.51);
      padding-bottom: 1%;
    }
    Text{
      font-size: x-large;
    }
}
/* lg */
@media (min-width: 1200px) {
    .Logo{
        width: 75px;
    }
    .caption h1, .title{
      font-size: x-large;
    }
    .under {
      border-bottom: 6px dotted rgba(0,0,0,0.51);
      padding-bottom: 1%;
    }
    Text{
      font-size: x-large;
    }
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav hr {
  width:75%;
  background-color: black;
  border-top: 2px dashed white;
}
.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
}
ul{
  list-style: none;
  padding-left: 0;
  font-family: 'Varela Round', sans-serif;
}